@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --erreur-color: #dc3545;
    --success-color: #28a745;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url(/img/geometry-1023846_1920\ 1.svg);
    background-size: cover;
}

.titre {
    padding: 1em;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    margin: 5vh 0;
    background-color: #34495E;
    color: #fff;
    opacity: 0.9;
}

.titre h1 {
    font-size: 1.5em;
    text-align: center;
}

.regLog {
    margin: 5vh 0;
    opacity: 0.9;
}

.regLogBtn1, .regLogBtn2 {
    border: none;
    margin: 0 5vw;
    background: #34495E;
    color: #fff;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

.regLogBtn1:hover, .regLogBtn2:hover {
    background: #3276B1;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.container {
    background-color: #fff;
    padding: 1em;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
    width: 400px;
}

.form {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;
}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.erreur input {
    border-color: var(--erreur-color);
}

.form-field.success input {
    border-color: var(--success-color);
}

.form-field small {
    color: var(--erreur-color);
}

.btn {
    background: #34495E;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background: #3276B1;
    cursor: pointer;
}