@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url(/img/Desktop\ -\ 2.svg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

header {
    align-self: flex-end;
    color: #fff;
    background: #34495E;
    opacity: 0.9;
    padding: 1vh 2vw 1vh 8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 0 0 0 30px;
}

header p {
    padding: 3px 0;
    line-height: 1.15em;
}

main {
    display: flex;
    align-items: center;
    margin: 5% 0;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    width: 75vw;
    background-color: #34495E;
    border-radius: 30px 5px 30px 5px;
    padding: 1.5em;
    color: #fff;
}

h1 {
    background: #4b4b4b;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 0.5em;
    border: 2px solid #3276B1;
    width: 35%;
    border-radius: 30px;
    word-break: break-all;
    margin-bottom: 1em;
}

.divMain {
    width: 100%;
}

.divContenu {
    display: flex;
    border-bottom: 2px solid #fff;
    border-radius: 0px 0px 10px 10px;
}

.divUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 15%;
    border-right: 2px solid #fff;
}

.pUser {
    padding: 0.5em;
}

.pDate {
    padding: 0.5em;
}

.pMessage {
    width: 85%;
    padding: 0.5em;
    text-align: justify;
    word-break: break-word;
}

.divCom {
    padding: 1.5em;
    background-color: #34495E;
    border-radius: 30px 5px 30px 5px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;
    width: auto;
    height: auto;
}

textarea {
    width: 90%;
    height: 10vh;
    font-size: 16px;
    border-radius: 5px 30px 5px 30px;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background-color: #4b4b4b;
    color: #fff;
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    color: #fff;
}

.btn {
    width: 30%;
    background: #34495E;
    color: #fff;
    font-size: 14px;
    padding: 0.5em;
    text-transform: uppercase;
    border: 2px solid #3276B1;
    border-radius: 10px;
}

.btn:hover {
    background: #3276B1;
    cursor: pointer;
}

.navBar {
    opacity: 0.9;
    display: flex;
    z-index: 1;
    position: absolute;
    top: 350px;

    right: -265px;
}

.right {
    right: 0px;
}

.navAff {
    width: 30px;
    background-color: #34495E;
    border-radius: 30px 0 0 30px;
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.navAff img {
    width: 100%;
    height: 40%;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: #3276B1;
    padding: 1em;
}

.nav a {
    color: #fff;
    margin: 0.5em 0;
    padding: 1em;
    border-left: 2px solid #34495E;
    border-right: 2px solid #34495E;
    border-radius: 10px;
    border-top: 1px solid #34495E;
    border-bottom: 1px solid #34495E;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #34495E;
    cursor: pointer;
    border-color: #fff;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 16px;
    }

    .divMain {
        font-size: 14px;
    }

    .pDate {font-size: 10px;
    }
}